body {
  background-color: lightgray;
}

ul {
  list-style: none;
}

.list-item {
  border: 2px solid red;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}
